__pycache__
*.pyc
*.pyo
*.pyd
.env
.dockerignore
.docker
.git
sqlite3/
venv/
*.log
*.pot
*.pyc
__pycache__
/media/
/fixtures/
/static/
credentials.json
token.pickle
/temp/
__pycache__/
local_settings.py
/venv
venv
.env
.idea
*.sqlite3
celerybeat-schedule
*.rdb
logs
